<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.getOffBusReminderFinal.dao.LocationMapper">
    <resultMap type="com.liu.getOffBusReminderFinal.dao.entity.LocationInfoDO" id="LocationInfoMap">
        <result property="locationId" column="location_id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="locationDesCn" column="location_des_cn" jdbcType="VARCHAR"/>
        <result property="locationDes" column="location_des" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="subwayLine" column="subway_line" jdbcType="VARCHAR"/>
        <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="yn" column="yn" jdbcType="INTEGER"/>
    </resultMap>

    <!--根据id查询位置-->
    <select id="queryById" resultMap="LocationInfoMap">
        select
            location_id,user_id,location_des_cn,location_des,sort,subway_line,add_time,update_time,yn
        from t_location_info
        where location_id = #{locationId}
    </select>

    <!--根据用户id查询位置-->
    <select id="queryByUserId" resultMap="LocationInfoMap">
        select
            location_id,user_id,location_des_cn,location_des,sort,subway_line,add_time,update_time,yn
        from t_location_info
        where user_id = #{userId} and location_des is not null
        order by sort
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAllByUserId" resultMap="LocationInfoMap">
        select
        location_id,user_id,location_des_cn,location_des, add_time,update_time,yn
        from t_location_info
        <where>
            <if test="userId != null">
                and userId = #{user_id}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" >
        insert into t_location_info(location_id,user_id,location_des_cn,location_des,subway_line,sort,add_time,update_time,yn)
        values (#{locationId},#{userId},#{locationDesCn},#{locationDes},#{subwayLine},#{sort},#{addTime},#{updateTime},#{yn})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update t_location_info
        <set>
            <if test="locationId != null and locationId != ''">
                location_id = #{locationId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null and userId != ''">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="locationDesCn != null and locationDesCn != ''">
                location_des_cn = #{locationDesCn,jdbcType=VARCHAR},
            </if>
            <if test="locationDes != null and locationDes != ''">
                location_des = #{locationDes,jdbcType=VARCHAR},
            </if>
            <if test="subwayLine != null and subwayLine != ''">
                subway_line = #{subwayLine,jdbcType=VARCHAR},
            </if>
            <if test="sort != null and sort != ''">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="yn != null and yn != ''">
                yn = #{yn,jdbcType=INTEGER},
            </if>
        </set>
        where location_id = #{locationId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from t_location_info where location_id = #{locationId}
    </delete>

</mapper>

